
.slidearea{
    background:fixed url('m2.jpg') no-repeat;
    padding:100px 0 100px 0;
    background-size:cover;
}
.districts{
    background:#fff;
    padding:0px 0 50px 0;
    text-align:center;
}
.districts h2{
    padding: 0 0 0;
    font-weight:700;
    color:#D42755;
}
.districts hr{
    background:#000;
    width:50px;
    height:1px;
}
.dis1{
    text-align:left;
}
.dis1 h4{
}
.dis1 em{
    color:#000;
}
.dis1 ul{
    list-style:none;
    margin:0;
    padding:10px 20px 0 20px;
}
.dis1 ul li{
    position:relative;
    padding-bottom:20px;
    border-bottom:solid 1px lightgrey;
}
.dis1 ul li a:link,.dis1 ul li a:visited{
    text-decoration:none;
    color:#000;
    font-size:18px;
    padding:20px 0 0 0;
    display:block;
}
.dis1 ul li a:hover{
    color:#D42755;
}
.dis1 ul li h4 li{
    font-size:25px;
    position:absolute;
    border:none;
    right:0;
}