
.identity{
    background:#fff;
    padding:0px 0 50px 0;
    text-align:center;
}
.arr{
    padding:30px 0 0px 0;
}
.identity h2{
    padding:0px 0 0 0;
    font-weight:700;
    color:#D42755;
}
.identity hr{
    background:#000;
    width:50px;
    height:1px;
}
.identity p{
    text-align:center;
}
.arr p{
    text-align: justify;
}
.id1{
    background:#fff;
    padding:10px;
}
.id1 img{
    border-radius:100%;
    transition:all 0.2s;
    box-shadow: 7px 7px 5px -5px rgba(0,0,0,0.75);
}
.id1 img:hover{
    transform:scale(1.05);
    box-shadow: 0px 0px 15px 3px rgb(0,0,0,0.4);
}
.id1 h5{
    padding-top:10px;
}