*{
    background:;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Open Sans', sans-serif;

}
body{
    margin:0;
    padding:0;
}
h2{
    font-family:'Times New Roman', Times, serif;
}
.toplogo{
    width:150px;
    height:100px;
    background:#fff url('india.png');
    background-size:cover;
    position:fixed;
    top:0;
    left:50px;
    z-index:2000;
    border-radius:0 0 8px 8px;
    box-shadow: 1px -1px 5px 5px rgba(128,128,128,0.75);
}
.head{
    background:#D42755;
    padding:8px 0 8px 0;
    text-align:left;
}
.nav-link{
    color:#fff !important;
}
.nav-link:hover{
    color:#000 !important;
}
.box1{
    background:#D42755;
}
.box1 ul{
    list-style:none;
    margin:0;
    padding:;
}
.box1 ul li{
    float:left;
    font-size:18px;
}
.box1 ul li a:link,.box1 ul li a:visited{
    color:white;
    background:#D42755;
    text-decoration:none;
    padding:6px 10px;
    display:block;
}
.box1 ul li a:hover{
    color:#000;
}
.bread{
    background:;
    font-weight:600;
    text-align:center;
    border-bottom:solid 1px lightgrey;
}
.bread p{
    margin:0;
    padding:10px 0;
}
.bread a:link,.bread a:visited{
    text-decoration:none;
    color:#000;
}
.bread a:hover{
    text-decoration:underline;
}
.arr{
    padding:30px 0 0px 0;
}
.foot{
    background:url('bg3.jpg') scroll no-repeat;
    padding:0px 0 20px 0;
    background-size:cover;
    color:#fff;
    text-align:center;
}
.foot1{
    padding:50px 0 0 0;
}
.foot h1{
    text-align:center;
}
.foot p{
    margin-top:30px;
    text-align:justify;
}
.foot1  hr{
    background:#fff;
    height:2px;
    width:360px;
}
.foot1 a:link,.foot1 a:visited{
    text-decoration:none;
    color:#fff;
    border:solid 1px #fff;
    border-radius:20px;
    padding:8px 20px;
}
.foot1 a:hover{
    color:#000;
    border:solid 1px #000;
}
.foot2{
    padding:50px 0 0 0;
}
.foot2  hr{
    background:#fff;
    height:2px;
    width:250px;
}
.box9{
    font-size:30px;
    background:;
    text-align:center;
}
.box9 ul{
    list-style:none;
    margin:0;
    padding:0 0 0 100px;
}
.box9 ul li{
}
.box9 ul a:link li,.box9 ul a:visited li{
    background:transparent;
    color:#fff;
    text-decoration:none;
    padding:10px;
    border-radius:10px;
    display:block;
}
.box9 ul a:hover li{
    color:#000;
}
.foot3{
    padding:40px 0 0 0;
}
.foot3 ul{
    list-style:none;
    margin:0;
    padding:0;
}
.foot ul li{
    float:left;
}
.foot3 ul li a:link,.foot3 ul li a:visited{
    text-decoration:#fff;
    color:#fff;
    font-size:14px;
    background:transparent;
    padding:0px 10px;
    text-align:left;
    border-right:solid 2px #fff;
    display:block;
}
.foot3 ul li:last-child a:link,.foot3 ul li:last-child a:visited{
    border:none;
}
.foot3 ul li a:hover{
    color:#D42755;
}
.foot4{
    padding:30px 0 0 0;
    text-align:center;
}